<?xml version="1.0"?>
<!-- Launch for the sample_detection node -->
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
      <node
        machine="search"
        pkg="linemod_detector"
        type="linemod_detector_2d"
        name="manipulator_linemod_detector_2d"
        ns="/processes/sample_detection/manipulator">
      <remap from="color" to="/cameras/manipulator/left/rect_color"/>
      <remap from="disparity" to="/cameras/manipulator/disparity"/>
      <remap from="left_cam_info" to="/cameras/manipulator/left/camera_info"/>
      <remap from="right_cam_info" to="/cameras/manipulator/right/camera_info"/>
      <param name="template_file" type="string" value="$(find linemod_detector)/config/easy_intermediate_test.yaml"/>
      <param name="pub_threshold" type="double" value="86.0"/>
      <param name="min_depth" type="double" value="0.4"/>
      <param name="max_depth" type="double" value="0.65"/>
      <param name="min_count" type="double" value="100.0"/>
    </node>

  <node
    machine="search"
    pkg="detection_filter"
    type="kalman_filter_node"
    name="linemod_kalman_filter_node"
    ns="/processes/sample_detection/manipulator">
    <remap from="camera_info" to="/cameras/manipulator/left/camera_info"/>
    <param name="max_dist" type="double" value="0.1"/>
    <param name="max_cov" type="double" value="0.4"/>
    <param name="max_pub_cov" type="double" value="0.05"/>
    <param name="max_pub_vel" type="double" value="0.02"/>
    <param name="accumulate" type="bool" value="false"/>
    <param name="error_cov_post" type="double" value="0.1"/>
    <param name="process_noise_cov" type="double" value="0.001"/>
    <param name="measurement_noise_cov" type="double" value="0.02"/>
    <param name="period" type="double" value="0.03"/>
  </node>
</launch>
