<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <machine name="search"
             address="moline"
             ros-root="/opt/ros/electric/ros"
             ros-package-path="/home/robot/Desktop/SampleReturn/src/ros:/opt/ros/electric/stacks"
             user="robot"
    />
    <machine name="navigate"
             address="blue18"
             ros-root="/opt/ros/electric/ros"
             ros-package-path="/home/robot/Desktop/SampleReturn/src/ros:/opt/ros/electric/stacks"
             user="robot"
             />

    <param name="use_sim_time" value="False" type="bool"/>

    <include file="$(find samplereturn)/launch/motion.launch"/> 
    <include file="$(find samplereturn)/launch/navigation_camera.launch"/> 
    <include file="$(find samplereturn)/launch/costmap.launch"/> 
    <include file="$(find samplereturn)/launch/manipulator_camera.launch"/> 
    <include file="$(find samplereturn)/launch/search_camera.launch"/> 
    <include file="$(find samplereturn)/launch/joystick.launch"/> 
</launch>
