<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

  <!-- rosbag record -->
  <!--
  -->
  <node pkg="rosbag"
      type="record"
      name="record"
      output="log"
      args="odometry tf stereo/right/image_raw stereo/left/image_raw stereo/right/camera_info stereo/left/camera_info">
  </node>

</launch>
