<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

  <!-- rosbag record -->
  <!--
  -->
  <node pkg="rosbag"
      type="record"
      name="record"
      output="log"
      args="odometry tf joint_state carousel stereo/right/image_raw stereo/left/image_raw stereo/right/camera_info stereo/left/camera_info camimg">
  </node>

  <!-- DSLR Client and Publisher-->
   <!-- The wait between captures is hard-coded at 3.0 seconds,
        I'll make this a param at some point -->
   <node pkg="samplereturn" type="camlogger.py" name="camlogger"/>

</launch>
