<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <!-- Display images -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="left_display"
        args="load image_view/image /camera_process"
        ns="/stereo/left">

        <remap  from="image" to="image_color"/>
    </node>
    <node
        pkg="nodelet"
        type="nodelet"
        name="right_display"
        args="load image_view/image /camera_process"
        ns="/stereo/right">

        <remap from="image" to="image_color"/>
    </node>


</launch>
