<!-- Launches the fence detector node-->
<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <!-- Fence Nodelet Host process -->
    <node
        machine="navigate"
        pkg="nodelet"
        type="nodelet"
        name="manager"
        args="manager"
        ns="fence"
        output="log"
        />

    <!-- Compute Stereo Point Cloud -->
    <node
        machine="navigate"
        pkg="nodelet"
        type="nodelet"
        name="stereo_image_points"
        args="load stereo_image_proc/point_cloud2 /fence/manager"
        ns="fence"
        output="log"
        >
        <param name="approximate_sync" type="bool" value="true"/>
        <remap from="left/image_rect_color" to="fence_img"/>
        <remap from="disparity" to="fence_disp"/>
    </node>

    <!-- Fence Detector -->
    <node
        machine="navigate"
        pkg="fence_detection"
        type="fence_detection.py"
        name="fence_detection"
        ns="fence"
        output="log">
        <param name="min_h" type="int" value="5"/>
        <param name="max_h" type="int" value="15"/>
        <param name="min_s" type="int" value="155"/>
        <param name="max_s" type="int" value="180"/>
    </node>

    <!-- Fence Map -->
    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_node"
        name="costmap_node"
        ns="fence"
        output="log">
        <rosparam file="$(find fence_detection)/config/costmap_params.yaml" command="load" ns="fence"/>
    </node>

    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_cloud"
        name="voxel_visualizer_clous"
        ns="fence">
    </node>

</launch>
