<?xml version="1.0"?>
<!-- Launches the fence detector node-->
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <!-- Fence Detector -->
    <node
        machine="navigate"
        pkg="fence_detection"
        type="simple_fence_detection"
        name="fence_detection"
        ns="/processes/fence_detection">
        <remap from="color_image" to="/cameras/navigation/center/left/rect_color"/>
        <remap from="disparity_image" to="/cameras/navigation/center/disparity"/>
        <remap from="left/camera_info" to="/cameras/navigation/center/left/camera_info"/>
        <remap from="right/camera_info" to="/cameras/navigation/center/right/camera_info"/>
    </node>


</launch>
