[submodule "ros_workspace/src/dynamixel_motor"]
	path = ros_workspace/src/dynamixel_motor
	url = git://github.com/contradict/dynamixel_motor
[submodule "ros_workspace/src/executive_smach"]
	path = ros_workspace/src/executive_smach
	url = git://github.com/contradict/executive_smach
[submodule "ros_workspace/src/photo"]
	path = ros_workspace/src/photo
	url = git://github.com/contradict/bosch_photo
[submodule "ros_workspace/src/viso2"]
	path = ros_workspace/src/viso2
	url = git@github.com:contradict/viso2.git
