[submodule "ros_workspace/src/dynamixel_motor"]
	path = ros_workspace/src/dynamixel_motor
	url = git://github.com/contradict/dynamixel_motor
[submodule "ros_workspace/src/photo"]
	path = ros_workspace/src/photo
	url = git://github.com/contradict/bosch_photo
[submodule "ros_workspace/src/camera1394"]
	path = ros_workspace/src/camera1394
	url = https://github.com/zaclizer/camera1394.git
[submodule "ros_workspace/src/audio_common"]
	path = ros_workspace/src/audio_common
	url = https://github.com/contradict/audio_common.git
	branch = indigo-devel
