#!/usr/bin/env python
# -*- coding: utf-8 -*-

import dynamic_reconfigure.parameter_generator_catkin as param

gen = param.ParameterGenerator()

platform_orientation_desc = "The platform orientation is 0 when the front edge is perpendicular to the line from the center of the platform to the reference point.  Units are degrees."
gen.add("platform_orientation", param.double_t, 0, frame_rate_desc,
    default=0, min=-360, max=360)
    
exit(gen.generate("beacon_localizer", "beacon_localizer", "Beacon Localizer"))