<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <node
        machine="navigate"
        pkg="executive"
        type="master_executive.py"
        name="master_executive"
        output="log">
        <param name="precached_sample_distance" type="double" value="3.14"/>
        <param name="detection_trigger_count" type="int" value="4"/>
        <param name="detection_trigger_distance" type="int" value="25"/>

        <remap from="img_point" to="/namedpoints"/>
    </node>

</launch>
