<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->

<launch>
  <!-- load up the manager. this thing gets the actual serial port -->
  <node
    machine="search"
    name="dynamixel_manager"
    pkg="dynamixel_controllers"
    type="controller_manager.py"
    required="true"
    output="log">
    <rosparam>
      namespace: dxl_manager
      serial_ports:
        manipulator_port:
          port_name: "/dev/ttyUSB0"
          baud_rate: 200000
          min_motor_id: 10
          max_motor_id: 12
          update_rate: 10
    </rosparam>
  </node>

  <!-- load the yaml file that defines which motor is which and what kind
       of controller they each get -->
  <rosparam file="$(find manipulator)/config/manipulator.yaml" command="load"/>

  <!-- start up the joint controllers! -->
  <node
    machine="search"
    name="dynamixel_controller_spawner"
    pkg="dynamixel_controllers"
    type="controller_spawner.py"
    args="--manager=dxl_manager --port=manipulator_port --type=simple manipulator/arm_joint manipulator/wrist_joint manipulator/hand_joint"
    output="log"
  />

  <!-- now the scary part, the manipulator node! -->
  <node
    machine="search"
    name="manipulator"
    pkg="manipulator"
    ns="manipulator"
    type="manipulator_node.py"
    output="log"
  >
    <rosparam>
      arm_down_velocity: -1.0  
      arm_down_torque: 0.4
      arm_down_standoff: 0.05

      arm_up_velocity: 1.0
      arm_up_torque: 0.6
      arm_up_standoff: 0.02
        
      hand_open_position: 2.7

      wrist_zero_position: 1.82
    </rosparam>
  </node>
</launch>
