<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <machine name="filtermachine"
             address="localhost"
    />

    <param name="use_sim_time" value="true" type="bool"/>

    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find samplereturn)/urdf/robot.xacro'" />

    <node name="state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="log"
          ns="/motion">
        <remap from="joint_states" to="platform_joint_state"/>
        <param name="publish_frequency" type="double" value="10"/>
    </node>

    <node name="joint_gui"
        pkg="joint_state_publisher"
        type="joint_state_publisher"
        output="log"
        ns="/motion">
        <remap from="joint_states" to="platform_joint_state"/>
        <param name="use_gui" type="bool" value="true"/>
        <param name="publish_default_velocities" type="bool" value="true"/>
        <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find samplereturn)/urdf/robot.xacro'" />
    </node>


    <node
        name="synthetic"
        pkg="pose_ukf"
        type="syntheticinertial.py"
        args="--pause"
        output="screen">

        <remap from="~gyro" to="/io/kvh/imu"/>
        <remap from="~imu" to="/io/phidget_0/data_raw"/>
    </node>

    <!--
    <include file="$(find pose_ukf)/launch/pose_ukf.launch"/>
        -->

    <include file="$(find pose_ukf)/launch/vis_filter.launch"/>
    <include file="$(find pose_ukf)/launch/pitchroll_ukf.launch">
        <arg name="machine" value="filtermachine"/>
    </include>

</launch>
