<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="center"/>
  <node
    pkg="saliency_detector"
    type="saliency_detector_node"
    name="saliency_detector"
    machine="search"
    ns="/processes/sample_detection/search/$(arg namespace)">
    <param name="img_topic" type="string" value="/cameras/search/$(arg namespace)/image_color"/>
    <remap from="/cameras/search/info" to="/cameras/search/$(arg namespace)/camera_info"/>
    <param name="bms_opening_width" type="int" value="3"/>
    <param name="bms_dilation_width_1" type="int" value="0"/>
    <param name="bms_thresh_fraction" type="double" value="0.3"/>
    <param name="bms_thresh_on" type="bool" value="True"/>
    <param name="bms_img_width" type="double" value="400"/>
    <param name="bms_top_trim" type="double" value="0"/>
    <param name="filterByConvexity" type="bool" value="True"/>
    <param name="filterByArea" type="bool" value="True"/>
    <param name="minArea" type="double" value="2500.0"/>
    <param name="maxArea" type="double" value="100000.0"/>
    <param name="minDistBetweenBlobs" type="double" value="100.0"/>
    <param name="minThreshold" type="double" value="100.0"/>
    <param name="maxThreshold" type="double" value="200.0"/>
    <param name="thresholdStep" type="double" value="20.0"/>
    <param name="minRepeatability" type="double" value="3.0"/>
    <param name="patch_scaling_factor" type="double" value="2.0"/>
  </node>

  <node
    pkg="saliency_detector"
    type="ground_projector_node"
    name="ground_projector"
    machine="search"
    ns="/processes/sample_detection/search/$(arg namespace)">
    <param name="sub_plane_model_topic" type="string"
      value="/cameras/navigation/$(arg namespace)/planefit/model"/>
    <param name="min_major_axis" type="double" value="0.04"/>
    <param name="max_major_axis" type="double" value="0.2"/>
  </node>

  <node
    pkg="saliency_detector"
    type="color_histogram_descriptor_node"
    name="color_histogram_descriptor"
    machine="search"
    ns="/processes/sample_detection/search/$(arg namespace)">
    <remap from="/processes/sample_detection/search/$(arg namespace)/named_point"
      to="/processes/sample_detection/search/named_point"/>
    <param name="max_inner_outer_hist_correl" type="double" value="0.5"/>
  </node>

  <node
    pkg="topic_tools"
    type="relay"
    name="search_camera_info_relay"
    machine="search"
    ns="/processes/sample_detection/search/$(arg namespace)"
    args="/cameras/search/$(arg namespace)/camera_info /processes/sample_detection/search/camera_info">
  </node>

  <node
    machine="search"
    pkg="linemod_detector"
    type="linemod_detector_2d"
    name="hard_linemod_detector_2d"
    ns="/processes/sample_detection/search/$(arg namespace)">
    <param name="template_file" type="string" value="$(find linemod_detector)/config/metal_samples.yaml"/>
    <param name="pub_threshold" type="double" value="90.0"/>
    <param name="hard_samples" type="bool" value="True"/>
  </node>

</launch>
