<?xml version="1.0"?>
<launch>
    <node
	  machine="search"
      pkg="sample_detection"
      type="sample_detection.py"
      name="sample_detection">
      <param name="samples" type="string" value="$(find sample_detection)/config/manipulator_samples.yaml"/>
      <remap from="left_img" to="/manipulator/left/image_color"/>
      <remap from="cam_info" to="/manipulator/left/camera_info"/>
    </node>
</launch>
