<?xml version="1.0"?>
<!-- Test launch for the sample_detection node -->
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <machine name="search"
             address="localhost"
             env-loader="/home/zlizer/src/SampleReturn/ros_workspace/devel/env.sh"
             user="zlizer"
    />
    <include file="$(find samplereturn)/launch/manipulator_camera.launch"/>

	<include file="$(find sample_detection)/launch/sample_detection.launch"/>
    <node
      pkg="image_view"
      type="image_view"
      name="image_view">
      <remap from="image" to="/navigation/left/image_rect_color"/>
    </node>
</launch>
