<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->
<launch>

    <node name="april_beacon_finder"
        type="beacon_april_node"
        pkg="beacon_finder"
        ns="/processes/beacon"
        machine="search"
        >
        <remap from="image" to="/cameras/search/image"/>
        <remap from="/cameras/search/camera_info" to="/cameras/search/info"/>

        <rosparam param="tag_descriptions">
         [{
            id: 400,
            size: 0.6299,
            frame_id: beacon_front_right},
          {
            id: 401,
            size: 0.6299,
            frame_id: beacon_front_left},
          {
            id: 402,
            size: 0.3048,
            frame_id: beacon_right_top},
          {
            id: 403,
            size: 0.3048,
            frame_id: beacon_right_bottom},
          {
            id: 404,
            size: 0.6299,
            frame_id: beacon_back_right},
          {
            id: 405,
            size: 0.6299,
            frame_id: beacon_back_left},
          {
            id: 406,
            size: 0.3048,
            frame_id: beacon_left_top},
          {
            id: 407,
            size: 0.3048,
            frame_id: beacon_left_bottom},
        ]
        </rosparam>
        <!--position sigma specified at 0m-->
        <!--scale in sigma/meter. With .05, sigma should be about 5m at 100m range-->
        <!--1 radians per second with 50ms timing inaccuracy????-->
        <param name="position_sigma" value="0.01"/>
        <param name="position_sigma_scale" value="0.05"/>
        <!-- old beacon finder variance: 0.02 -->
        <param name="rotation_sigma" value="0.1"/>

        <!--params for saving us from horrible solvePnP solutions-->
        <param name="min_tag_size" type="int" value="50"/><!--pixels-->
        <param name="consensus_rot_threshold" type="double" value="0.1"/><!--radians-->
        <param name="consensus_trans_threshold" type="double" value="0.5"/><!--meters-->

    </node>

    <param name="/processes/beacon/robot_description" textfile="$(find samplereturn)/urdf/beacon.urdf"/>

    <node name="beacon_publisher"
          machine="search" 
          pkg="robot_state_publisher" 
          type="robot_state_publisher"
          output="log"
          ns="/processes/beacon/">
        <param name="publish_frequency" type="double" value="1"/>
    </node>

</launch>
