<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->

<launch>

    <arg name="world_fixed_frame" default="map"/>
    <arg name="odometry_frame" default="odom"/>
    <node
		machine="search"
		name="beacon_finder"
		pkg="beacon_finder"
		type="beacon_finder.py"
        output="log"
        ns="/processes/beacon_finder">

    <param name="world_fixed_frame" value="$(arg world_fixed_frame)"/>
    <param name="num_rows" type="int" value="3"/>
	<param name="num_columns" type="int" value="9"/>
	<param name="vertical_distance_between_circles" type="double" value="0.3048"/>
	<param name="is_first_column_shifted_down" type="bool" value="False"/>
	<param name="blob_color" type="double" value="0"/>
	<param name="blob_min_area" type="double" value="50"/>
	<param name="blob_max_area" type="double" value="5000"/>
	<param name="blob_side_max_area" type="double" value="20000"/>
	<param name="blob_min_threshold" type="double" value="20"/>
	<param name="blob_max_threshold" type="double" value="220"/>
	<param name="blob_threshold_step" type="double" value="10"/>
	<param name="blob_min_distance_between_blobs" type="double" value="3.0"/>
	<param name="blob_repeatability" type="int" value="3"/>
	<param name="do_histogram_equalization" type="bool" value="False"/>
    <param name="max_size_error" type="double" value="0.1"/>
    <param name="max_distance_error" type="double" value="0.1"/>
    <param name="max_horizontal_radians" type="double" value="0.17"/>
    <remap from="camera_image" to="/cameras/search/image"/>
    <remap from="camera_info" to="/cameras/search/info"/>

    <rosparam>
        <!-- beacon position relative to map -->
        beacon_translation: [ -0.780, 0.0, 0.712 ]
        beacon_rotation: [ -1.570796, -1.570796, 0.0, 'rxyz']
        <!-- beacon covariance -->
        frontback_covariance: [0.2, 0.2, 0.2, 0.02, 0.02, 0.02]
        side_covariance: [2.0, 2.0, 5.0, 100, 1.5, 100]
    </rosparam>

</node>
</launch>
