<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->

<launch>
	<machine name="search"
			 address="localhost"
			 />

       <!--
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find samplereturn)/urdf/robot.xacro'" />

    <node name="state_publisher"
          pkg="robot_state_publisher" 
          type="robot_state_publisher"
          >
        <param name="publish_frequency" type="double" value="10"/>
    </node>

    <node
        name="joint_controller"
        pkg="joint_state_publisher"
        type="joint_state_publisher"
        >
        <param name="use_gui" type="bool" value="true"/>
    </node>

    <node
          pkg="fake_localization"
          type="fake_localization"
          name="fake_localization"
          >
          <remap from="base_pose_ground_truth" to="/motion/odometry"/>
    </node>
    -->

    <include file="$(find beacon_finder)/launch/beacon_finder.launch"/>
</launch>
