<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->

<launch>
	<node
		machine="search"
		name="visual_servo"
		pkg="visual_servo"
		type="visual_servo_node.py"
		output="log">
		<param name='safe_region_percentage' type='double' value='0.15'/>
		<param name='camera_left_width_window_rotate' type='double' value='3'/>
		<param name='camera_right_width_window_rotate' type='double' value='3'/>
		<param name='camera_left_width_window_forward' type='double' value='6'/>
		<param name='camera_left_height_window_forward' type='double' value='8'/>
		<param name='camera_right_width_window_forward' type='double' value='6'/>
		<param name='camera_right_height_window_forward' type='double' value='8'/>
		<param name='camera_left_target_width' type='double' value='325'/>
		<param name='camera_left_target_height' type='double' value='256'/>
		<param name='camera_right_target_width' type='double' value='150'/>
		<param name='camera_right_target_height' type='double' value='256'/>
		<param name='camera_left_target_forward_vector_x' type='double' value='-16'/>
		<param name='camera_left_target_forward_vector_y' type='double' value='-255'/>
		<param name='camera_right_target_forward_vector_x' type='double' value='16'/>
		<param name='camera_right_target_forward_vector_y' type='double' value='255'/>
		<param name='loop_frequency' type='double' value='10.0'/>
		<param name='new_state_wait_time' type='double' value='1.0'/>
		<param name='no_input_stop_wait_time' type='double' value='0.5'/>
		<param name='proportional_constant_drive_forward' type='double' value='0.0009'/>
		<param name='integral_constant_drive_forward' type='double' value='0.0'/>
		<param name='derivative_constant_drive_forward' type='double' value='0.0'/>
		<param name='proportional_constant_rotate' type='double' value='0.0017'/>
		<param name='integral_constant_rotate' type='double' value='0.0'/>
		<param name='derivative_constant_rotate' type='double' value='0.0'/>
	</node>
</launch>
