<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!-- -*- mode: XML -*- -->

<launch>
	<node
		machine="search"
		name="visual_servo"
		pkg="visual_servo"
		type="visual_servo_node.py"
        output="log"
        ns="/processes/visual_servo">
		<param name='safe_region_percentage' type='double' value='0.20'/>
		<param name='target_window_halfwidth_rotate' type='double' value='6'/>
		<param name='target_window_halfwidth_move_forward' type='double' value='6'/>
		<param name='target_window_halfheight_move_forward' type='double' value='8'/>
		<param name='camera_left_target_pixel_x' type='double' value='360'/>
		<param name='camera_left_target_pixel_y' type='double' value='195'/>
		<param name='camera_right_target_pixel_x' type='double' value='170'/>
		<param name='camera_right_target_pixel_y' type='double' value='256'/>
		<param name='camera_left_target_forward_vector_x' type='double' value='-16'/>
		<param name='camera_left_target_forward_vector_y' type='double' value='-255'/>
		<param name='camera_right_target_forward_vector_x' type='double' value='16'/>
		<param name='camera_right_target_forward_vector_y' type='double' value='255'/>
		<param name='loop_frequency' type='double' value='10.0'/>
		<param name='new_state_wait_time' type='double' value='2.0'/>
		<param name='no_input_stop_wait_time' type='double' value='0.5'/>
		<param name='proportional_constant_drive_forward' type='double' value='0.0009'/>
		<param name='integral_constant_drive_forward' type='double' value='0.0'/>
		<param name='derivative_constant_drive_forward' type='double' value='0.0'/>
		<param name='proportional_constant_rotate' type='double' value='0.0017'/>
		<param name='integral_constant_rotate' type='double' value='0.0'/>
        <param name='derivative_constant_rotate' type='double' value='0.0'/>
        <param name='max_linear_velocity' type='double' value='0.10'/>
        <param name='max_angular_velocity' type='double' value='0.25'/>
        <param name='target_name' type='string' value='pre_cached'/>

        <remap from="image_point" to="processes/sample_detection/manipulator/named_point"/>
        <remap from="left_camera_info" to="/cameras/manipulator/left/camera_info"/>
        <remap from="right_camera_info" to="/cameras/manipulator/right/camera_info"/>

        <remap from="debug_update_constants" to="/debug/visual_servo/update_constants"/>

        <remap from="servo_command" to="/motion/servo_command"/>
  </node>
</launch>
