<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="bagfile"/> <!-- Your bagfile here -->
    <arg name="camera" default="/cameras/navigation/center" /> <!-- The namespace where images are published -->
    <param name="use_sim_time" value="true"/>

    <!-- Run the rosbag -->
    <node name="rosbag"
        pkg="rosbag"
        type="play"
        output="screen"
        args="--clock --pause --rate 0.5
        --topics
        tf
        /motion/odometry
        /cameras/navigation/center/left/image_raw
        /cameras/navigation/center/left/camera_info
        /cameras/navigation/center/right/image_raw
        /cameras/navigation/center/right/camera_info
        /io/microstrain_3dm_gx3_35/imu
        --bags $(arg bagfile)"/>

    <!-- Run the ROS package stereo_image_proc -->
    <group ns="$(arg camera)" >
        <node name="stereo_image_proc"
            pkg="stereo_image_proc"
            type="stereo_image_proc">
            <param name="correlation_window_size" type="int" value="17"/>
            <param name="min_disparity" type="int" value="0"/>
            <param name="disparity_range" type="int" value="48"/>
            <param name="uniqueness_ratio" type="int" value="5"/>
            <param name="texture_threshold" type="int" value="1000"/>
            <param name="approximate_sync" type="bool" value="true"/>
        </node>
    </group>

    <include file="$(find fovis_ros)/launch/fovis.launch">
        <arg name="camera" value="/cameras/navigation/center"/>
        <arg name="image" value="/image_rect"/>
    </include>

</launch>
