<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <param name="/beacon/robot_description" textfile="$(find samplereturn)/urdf/beacon.urdf"/>
    <node name="beacon_publisher"
          pkg="robot_state_publisher" 
          type="robot_state_publisher"
          output="screen"
          ns="beacon"
        >
        <remap from="joint_states" to="platform_joint_state"/>
        <param name="publish_frequency" type="double" value="1"/>
    </node>

</launch>
