<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <!-- Calibration tool -->

    <arg name="cameras" default="navigation/port"/>
    <node
        pkg="camera_calibration"
        type="cameracalibrator.py"
        name="calibrator"
        args="-\-size 9x6 -\-square 0.10 -p chessboard -\-approximate=0.05 -\-fix-aspect-ratio"
        output="screen"
        >
        <!--
            args="-\-size 6x8 -\-square 0.0252 -p chessboard -\-approximate=0.05"
            args="-\-size 9x6 -\-square 0.1 -p chessboard -\-approximate=0.05"
        -->
        <remap from="right" to="/cameras/$(arg cameras)/right/image_raw"/>
        <remap from="left" to="/cameras/$(arg cameras)/left/image_raw"/>
        <remap from="right_camera" to="/cameras/$(arg cameras)/right"/>
        <remap from="left_camera" to="/cameras/$(arg cameras)/left"/>
      </node>

</launch>
