<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <!-- Calibration tool -->

    <arg name="cameras" default="navigation"/>
    <node
        pkg="camera_calibration"
        type="cameracalibrator.py"
        name="calibrator"
        args="--size 9x6 --square 0.058 -p chessboard --approximate=0.005"
        output="screen"
        >
        <remap from="right" to="/cameras/$(arg cameras)/right/image_mono"/>
        <remap from="left" to="/cameras/$(arg cameras)/left/image_mono"/>
        <remap from="right_camera" to="/cameras/$(arg cameras)/right"/>
        <remap from="left_camera" to="/cameras/$(arg cameras)/left"/>
      </node>

</launch>
