<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <!--Important arg, start the system paused? -->
    <arg name="start_paused" default="False"/>

    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>

    <param name="use_sim_time" value="False" type="bool"/>
    
    <!-- Launch Files -->
    <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
    </include>

    <include file="$(find samplereturn)/launch/motion.launch">
        <arg name="start_paused" value="$(arg start_paused)"/>
    </include>
    <include file="$(find samplereturn)/launch/navigation_camera.launch"/>
    <include file="$(find samplereturn)/launch/manipulator_camera.launch"/>
    <include file="$(find samplereturn)/launch/search_camera.launch"/>
    <!--
    <include file="$(find samplereturn)/launch/costmap.launch"/>
    <include file="$(find samplereturn)/launch/gmapping.launch"/>
    -->
    <include file="$(find samplereturn)/launch/joystick.launch"/>
    <include file="$(find manipulator)/launch/manipulator.launch"/>
    <include file="$(find samplereturn)/launch/audio.launch"/>
    <!--
    <include file="$(find sample_detection)/launch/color_name_sample_detection_manipulator.launch"/>
    <include file="$(find samplereturn)/launch/search_detection.launch"/>
    -->
    <include file="$(find saliency_detector)/launch/filter_saliency_detector.launch"/>
    <include file="$(find linemod_detector)/launch/manipulator_linemod_2d.launch"/>
    <include file="$(find visual_servo)/launch/visual_servo.launch"/>
    <include file="$(find samplereturn)/launch/planner_dumb.launch"/>
    <!--
    <include file="$(find samplereturn)/launch/imu.launch"/>
    -->
    <include file="$(find beacon_finder)/launch/beacon_finder.launch"/>
    <include file="$(find executive)/launch/executive.launch"/>

    <include file="$(find sun_pointing)/launch/sun_pointing.launch"/>

<!-- Nodes -->
    <node machine="navigate"
          pkg="fake_localization"
          type="fake_localization"
          name="fake_localization"
          ns="/processes">
          <remap from="base_pose_ground_truth" to="/motion/odometry"/>
    </node>

    <include file="$(find fence_detection)/launch/fence_detection.launch"/>
</launch>
