<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" 
         value="$(find samplereturn)/config/custom_rosconsole.conf"/>
     
    <node name="phidget_manager"
          machine="navigate"
          respawn="true"
          pkg="phidgets"
          type="manager"
          output="log"
          ns="/io">
    </node>

    <node name="raw_imu"
          machine="navigate"
          pkg="phidgets"
          type="spatial"
          ns="/io">
    </node>

</launch>
