<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

<!-- joy node -->
<node machine="navigate"
      respawn="true" 
      pkg="joy"
      type="joy_node" 
      name="joy_node"
      ns="/io">

    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.05" />
</node>

<node machine="navigate"
      pkg="platform_motion" 
      type="manual_control_node.py" 
      name="manual_control_node"
      ns="/motion">
          
    <!-- Axes -->
    <param name="LINEAR_X" value="1"/>
    <param name="LINEAR_Y" value="0"/>
    <param name="ANGULAR_Z" value="2"/>
    <!-- Buttons -->
    <param name="BUTTON_HOME" value="9"/>
    <param name="BUTTON_GRAB" value="3"/>
    <param name="BUTTON_SERVO" value="1"/>
    <param name="BUTTON_CANCEL" value="2"/>
    <param name="BUTTON_LOCK" value="0"/>
    <!-- Scaling -->
    <param name="LINEAR_SCALE" value="1.5" type="double"/>
    <param name="LINEAR_EXP" value="2" type="double"/>
    <param name="ANGULAR_SCALE" value="3.14" type="double"/>
    <param name="ANGULAR_EXP" value="2" type="double"/>

    <rosparam>
        simple_move_params:
            max_velocity: 0.01
            acceleration: 0.02
            stop_deceleration: 0.2
            loop_rate: 10
            steering_angle_epsilon: 0.01
    </rosparam>

    <!-- servo sample simple motion parameters -->
    <rosparam>
           servo_params:
              initial_velocity: 0.1
              initial_tolerance: 0.050
              final_velocity: 0.005
              final_tolerance: 0.010
              acceleration: 0.02
    </rosparam>

    <!-- manipulator correction for inaccuracy -->
    <rosparam>
        manipulator_correction:
            x: -0.012
            y: 0.022
    </rosparam>

    <!-- Remaps -->
    <remap from="detected_sample_manipulator" to="/processes/sample_detection/manipulator/filtered_point"/>
    <remap from="CAN_select_motion_mode" to="/motion/CAN/select_motion_mode"/>
    <remap from="visual_servo_action" to="/processes/visual_servo/servo_action"/>
    <remap from="manipulator_action" to="/motion/manipulator/grab_action"/>
    <remap from="audio_navigate" to="/io/audio/navigate"/>
    <remap from="joy" to="/io/joy"/>

</node>

</launch>

