<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>
     <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
    </include>

    <!-- rosbag record -->
    <!--
  -->
  <node machine="navigate"
      pkg="rosbag"
      type="record"
      name="navigate_record"
      output="log"
      args="tf
            tf_static
            diagnostics
            /cameras/navigation/center/right/image_raw
            /cameras/navigation/center/right/camera_info
            /cameras/navigation/center/left/image_raw
            /cameras/navigation/center/left/camera_info
            /cameras/navigation/starboard/right/image_raw
            /cameras/navigation/starboard/right/camera_info
            /cameras/navigation/starboard/left/image_raw
            /cameras/navigation/starboard/left/camera_info
            /io/battery_voltage
            /io/gpio_read
            /io/gpio_write
            /io/current_motion_mode
            /io/joy
            /io/pause_state
            /io/phidget_0/data_raw
            /io/phidget_0/is_calibrated
            /io/phidget_0/mag
            /io/microstrain_3dm_gx3/imu
            /io/microstrain_3dm_gx3/gps
            /io/microstrain_3dm_gx3/magnetometer
            /motion/odometry
            /motion/platform_joint_state
            /motion/carousel/angle
            /motion/CAN/status_word
            /motion/carousel/angle
            /motion/current_motion_mode
            /motion/joystick_command
            /motion/manipulator/motor_states/ttyUSB0
            /motion/planner_command
            /motion/servo_command
            "
      >
  </node>

   <node machine="search"
       pkg="rosbag"
       type="record"
       name="search_record"
       output="log"
       args="tf
             tf_static
             /cameras/navigation/port/right/image_raw
             /cameras/navigation/port/right/camera_info
             /cameras/navigation/port/left/image_raw
             /cameras/navigation/port/left/camera_info
             /cameras/search/image
             /cameras/search/info
             /cameras/search/status
             /cameras/manipulator/left/image_raw
             /cameras/manipulator/right/image_raw
             /cameras/manipulator/left/camera_info
             /cameras/manipulator/right/camera_info
             /process/beacon_finder/beacon_pose
             /process/sample_detection/named_point
             /process/sample_detection/manipulator/named_point
             "
       >
   </node>
</launch>
