<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>
     <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
    </include>

    <!-- rosbag record -->
    <!--
  -->
  <node machine="navigate"
      pkg="rosbag"
      type="record"
      name="navigate_record"
      output="log"
      args="odometry tf platform_joint_state carousel navigation/right/image_raw navigation/left/image_raw navigation/right/camera_info navigation/left/camera_info /phidgets/spatial">
  </node>

   <node machine="search"
       pkg="rosbag"
       type="record"
       name="search_record"
       output="log"
       args="cam_img cam_info manipulator/left/image_raw manipulator/right/image_raw manipulator/left/camera_info manipulator/right/camera_info tf"/>
</launch>
