<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="run_cameras" default="true"/>
    <arg name="run_processing" default="true"/>

    <!-- special-case for port, cameras are plugged in to search -->
    <!-- load up cameras only on search (run_processing=false) -->
    <include file="$(find samplereturn)/launch/navigation_pair_gpu.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="run_processing" value="false"/>
        <arg name="running_manager_node_name" value="port_camera_manager"/>
        <arg name="camera_manager_node_name" value="port_camera_manager"/>
        <arg name="machine" value="search"/>
        <arg name="namespace" value="port"/>
        <arg name="left_guid" value="00b09d0100a85719"/>
        <arg name="right_guid" value="00b09d0100bb69f3"/>
        <arg name="strobe" value="true"/>
    </include>
    <!-- load up the processing for port -->
    <include file="$(find samplereturn)/launch/navigation_pair_gpu.launch">
        <arg name="run_cameras" value="false"/>
        <arg name="run_processing" value="$(arg run_processing)"/>
        <arg name="running_manager_node_name" value="port_processing_manager"/>
        <arg name="processing_manager_node_name" value="port_processing_manager"/>
        <arg name="machine" value="navigate"/>
        <arg name="namespace" value="port"/>
    </include>

    <include file="$(find samplereturn)/launch/navigation_pair_gpu.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="run_processing" value="$(arg run_processing)"/>
        <arg name="namespace" value="center"/>
        <arg name="left_guid" value="00b09d0100bd09ce"/>
        <arg name="right_guid" value="00b09d0100bb69fb"/>
        <arg name="strobe" value="true"/>
        <arg name="machine" value="navigate"/>
    </include>

    <include file="$(find samplereturn)/launch/navigation_pair_gpu.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="run_processing" value="$(arg run_processing)"/>
        <arg name="namespace" value="starboard"/>
        <arg name="left_guid" value="00b09d0100ca7fdb"/>
        <arg name="right_guid" value="00b09d0100ca7fd5"/>
        <arg name="strobe" value="true"/>
        <arg name="machine" value="navigate"/>
    </include>

</launch>
