<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="run_cameras" default="true"/>
    <arg name="namespace" default="port"/>
    <arg name="left_guid" default="00b09d0100bb69f3"/>
    <arg name="right_guid" default="00b09d0100a85719"/>
    <arg name="strobe" default="false"/>
    <arg name="machine" default="navigate"/>

    <!-- Navigation Nodelet Host process -->
    <node name="manager"
          machine="$(arg machine)"
          pkg="nodelet"
          type="nodelet"
          args="manager"
          ns="/cameras/navigation/$(arg namespace)"
          output="log"
          respawn_delay="25.0"
          respawn="true">
    </node>

    <!-- IEEE1394 camera driver through stereo -->
    <include file="$(find samplereturn)/launch/camera_pair.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="machine" value="$(arg machine)"/>
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="manager_name" value="manager"/>
        <arg name="left_guid" value="$(arg left_guid)"/>
        <arg name="right_guid" value="$(arg right_guid)"/>
        <arg name="strobe" value="$(arg strobe)"/>
    </include>

    <!-- Compute Stereo Point Cloud -->
    <node name="stereo_image_points"
          machine="$(arg machine)"
          pkg="nodelet"
          type="nodelet"
          args="load stereo_image_proc/point_cloud2 manager"
          ns="/cameras/navigation/$(arg namespace)"
          output="log"
          respawn_delay="30.0"
          respawn="true">
        <param name="approximate_sync" type="bool" value="true"/>
    </node>


</launch>
