<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="run_cameras" default="true"/>
    <arg name="run_processing" default="true"/>
    <arg name="namespace" default="port"/>
    <arg name="left_guid" default="00b09d0100bb69f3"/>
    <arg name="right_guid" default="00b09d0100a85719"/>
    <arg name="strobe" default="false"/>
    <arg name="machine" default="navigate"/>
    <arg name="camera_manager_node_name" default="manager"/>
    <arg name="processing_manager_node_name" default="manager"/>
    <arg name="running_manager_node_name" default="manager"/>

    <!-- Navigation Nodelet Host process -->
    <node name="$(arg running_manager_node_name)"
          machine="$(arg machine)"
          pkg="nodelet"
          type="nodelet"
          args="manager"
          ns="/cameras/navigation/$(arg namespace)"
          output="log"
          respawn_delay="2.0"
          respawn="true">
    </node>
    <!-- IEEE1394 camera driver -->
    <group if="$(arg run_cameras)">
        <node name="left"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load camera1394/driver $(arg camera_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              respawn_delay="5.0"
              respawn="true">
            <param name="guid" type="string" value="$(arg left_guid)"/>

            <param name="reset_on_open" type="bool" value="true"/>
            <param name="frame_id" value="navigation_$(arg namespace)_left_camera"/>
            <param name="video_mode" type="string" value="640x480_mono8"/>
            <param name="bayer_pattern" value="rggb"/>
            <param name="auto_exposure" type="int" value="3"/>
            <param name="exposure" type="int" value="52"/>
            <param name="auto_shutter" type="int" value="2"/>
            <param name="auto_gain" type="int" value="2"/>
            <param name="auto_brightness" type="int" value="2"/>
            <param name="frame_rate" type="double" value="30"/>
            <param name="camera_info_url"
                   type="string"
                   value="file://$(find samplereturn)/calibration/ffmv-$(arg namespace)-left-640.yaml" />
            <remap from="camera" to="left" />
            <remap from="left/camera_params" to="right/camera_params" />
        </node>
        <node name="right"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load camera1394/driver $(arg camera_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              respawn_delay="5.0"
              respawn="true">

            <param name="guid" type="string" value="$(arg right_guid)"/>

            <param name="reset_on_open" type="bool" value="true"/>
            <param name="frame_id" value="navigation_$(arg namespace)_left_camera"/>
            <param name="video_mode" type="string" value="640x480_mono8"/>
            <param name="bayer_pattern" value="rggb"/>
            <param name="auto_exposure" type="int" value="3"/>
            <param name="exposure" type="int" value="52"/>
            <param name="auto_shutter" type="int" value="2"/>
            <param name="auto_gain" type="int" value="2"/>
            <param name="auto_brightness" type="int" value="2"/>
            <param name="frame_rate" type="double" value="30"/>
            <param name="camera_info_url"
                   type="string"
                   value="file://$(find samplereturn)/calibration/ffmv-$(arg namespace)-right-640.yaml" />
            <remap from="camera" to="right" />
        </node>

        <!-- emit synchronization error -->
        <node name="image_desync"
              machine="$(arg machine)"
              pkg="samplereturn"
              type="image_desync.py"
              ns="/cameras/navigation/$(arg namespace)">
            <param name="manager_node_name" type="string" value="/cameras/navigation/$(arg namespace)/$(arg camera_manager_node_name)"/>
            <param name="max_desync" type="double" value="0.033"/>
        </node>
    </group>

    <group if="$(arg run_processing)">
        <node name="gpustereo"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load gpuimageproc/Stereoproc $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
            <remap from="pointcloud" to="points2"/>
            <param name="approximate_sync" type="bool" value="true"/>
            <param name="correlation_window_size" type="int" value="21"/>
            <param name="texture_threshold" type="int" value="12"/>
            <param name="disparity_range" type="int" value="48"/>
            <param name="xsobel" type="bool" value="true"/>
            <param name="refine_disparity" type="bool" value="true"/>
            <param name="max_speckle_size" type="int" value="800"/>
            <param name="max_diff" type="double" value="5"/>
        </node>
    </group>


</launch>
