<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="run_cameras" default="true"/>

    <include file="$(find samplereturn)/launch/navigation_pair.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="namespace" value="port"/>
        <arg name="left_guid" value="00b09d0100a85719"/>
        <arg name="right_guid" value="00b09d0100bb69f3"/>
    </include>

    <include file="$(find samplereturn)/launch/navigation_pair.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="namespace" value="center"/>
        <arg name="left_guid" value="00b09d0100bb69fb"/>
        <arg name="right_guid" value="00b09d0100bd09ce"/>
    </include>

    <include file="$(find samplereturn)/launch/navigation_pair.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="namespace" value="starboard"/>
        <arg name="left_guid" value="00b09d0100ca7fdb"/>
        <arg name="right_guid" value="00b09d0100ca7fd5"/>
    </include>

</launch>
