<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="run_cameras" default="true"/>
    <arg name="run_processing" default="true"/>
    <arg name="namespace" default="port"/>
    <arg name="left_guid" default="00b09d0100bb69f3"/>
    <arg name="right_guid" default="00b09d0100a85719"/>
    <arg name="strobe" default="false"/>
    <arg name="machine" default="navigate"/>
    <arg name="camera_manager_node_name" default="manager"/>
    <arg name="processing_manager_node_name" default="manager"/>
    <arg name="running_manager_node_name" default="manager"/>

    <!-- Navigation Nodelet Host process -->
    <node name="$(arg running_manager_node_name)"
          machine="$(arg machine)"
          pkg="nodelet"
          type="nodelet"
          args="manager"
          ns="/cameras/navigation/$(arg namespace)"
          output="log"
          respawn_delay="2.0"
          respawn="true">
    </node>

    <group if="$(arg run_processing)">
        <node name="gpustereo"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load gpuimageproc/Stereoproc $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
            <param name="approximate_sync" type="bool" value="true"/>
            <param name="publisher_queue_size" type="int" value="5"/>
            <param name="correlation_window_size" type="int" value="21"/>
            <param name="texture_threshold" type="int" value="12"/>
            <param name="disparity_range" type="int" value="48"/>
            <param name="xsobel" type="bool" value="true"/>
            <param name="refine_disparity" type="bool" value="true"/>
            <param name="max_speckle_size" type="int" value="2000"/>
            <param name="max_diff" type="double" value="0.025"/>
            <param name="bilateral_filter" type="bool" value="true"/>
            <param name="filter_edge_threshold" type="double" value="1.0"/>
            <param name="filter_iters" type="int" value="5"/>
            <param name="filter_max_disc_threshold" type="double" value="1.0"/>
            <param name="filter_ndisp" type="int" value="48"/>
            <param name="filter_radius" type="int" value="4"/>
            <param name="filter_sigma_range" type="double" value="30"/>
        </node>
        <node name="voxelfilter"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load pcl/VoxelGrid $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
              <remap from="~input"  to="pointcloud" />
              <remap from="~output" to="points2"/>
              <param name="leaf_size" type="double" value="0.025"/>
              <param name="filter_limit_min" type="double" value="-0.5"/>
              <param name="filter_limit_max" type="double" value="1.5"/>
              <param name="input_frame" type="string" value="base_link"/>
              <param name="output_frame" type="string" value="base_link"/>
        </node>
        <node name="xlimit"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load pcl/PassThrough $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
              <remap from="~input" to="points2"/>

              <rosparam>
                  filter_field_name: x
                  filter_limit_min: 0.0
                  filter_limit_max: 3.0
                  input_frame: "base_link"
                  output_frame: "base_link"
              </rosparam>
        </node>
        <node name="ylimit"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load pcl/PassThrough $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
              <remap from="~input" to="xlimit/output"/>

              <rosparam>
                  filter_field_name: y
                  filter_limit_min: -3.0
                  filter_limit_max:  3.0
                  input_frame: "base_link"
                  output_frame: "base_link"
              </rosparam>
        </node>
        <node name="planefit"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load pcl/SACSegmentation $(arg processing_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              output="log"
              respawn_delay="5.0"
              respawn="true">
              <remap from="~input" to="ylimit/output"/>

              <rosparam>
                  axis: [0.0,0.0,1.0]
                  distance_threshold: 0.1
                  eps_angle: 0.17
                  max_iterations: 50
                  min_inliers: 500
                  model_type: 0
                  optimize_coefficients: true
                  probability: 0.99
                  radius_max: 0.05
                  radius_min: 0.0
              </rosparam>
        </node>
     </group>

    <!-- IEEE1394 camera driver -->
    <group if="$(arg run_cameras)">
        <node name="left"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load camera1394/driver $(arg camera_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              respawn_delay="10.0"
              respawn="true">
            <param name="guid" type="string" value="$(arg left_guid)"/>
            <param name="isMaster" type="bool" value="false"/>
            <param name="reset_on_open" type="bool" value="true"/>
            <param name="frame_id" value="navigation_$(arg namespace)_left_camera"/>
            <param name="video_mode" type="string" value="640x480_mono8"/>
            <param name="bayer_pattern" value="rggb"/>
            <param name="auto_exposure" type="int" value="3"/>
            <param name="exposure" type="int" value="35"/>
            <param name="auto_shutter" type="int" value="2"/>
            <param name="auto_gain" type="int" value="2"/>
            <param name="auto_brightness" type="int" value="2"/>
            <param name="frame_rate" type="double" value="30"/>
            <param name="external_trigger" type="bool" value="false"/>
            <param name="camera_info_url"
                   type="string"
                   value="file://$(find samplereturn)/calibration/ffmv-$(arg namespace)-left-640.yaml" />
            <remap from="camera" to="left" />
        </node>
        <node name="right"
              machine="$(arg machine)"
              pkg="nodelet"
              type="nodelet"
              args="load camera1394/driver $(arg camera_manager_node_name)"
              ns="/cameras/navigation/$(arg namespace)"
              respawn_delay="10.0"
              respawn="true">

            <param name="guid" type="string" value="$(arg right_guid)"/>
            <param name="isMaster" type="bool" value="false"/>
            <param name="reset_on_open" type="bool" value="true"/>
            <param name="frame_id" value="navigation_$(arg namespace)_left_camera"/>
            <param name="video_mode" type="string" value="640x480_mono8"/>
            <param name="bayer_pattern" value="rggb"/>
            <param name="auto_exposure" type="int" value="3"/>
            <param name="exposure" type="int" value="35"/>
            <param name="auto_shutter" type="int" value="2"/>
            <param name="auto_gain" type="int" value="2"/>
            <param name="auto_brightness" type="int" value="2"/>
            <param name="frame_rate" type="double" value="30"/>
            <param name="external_trigger" type="bool" value="false"/>
            <param name="camera_info_url"
                   type="string"
                   value="file://$(find samplereturn)/calibration/ffmv-$(arg namespace)-right-640.yaml" />
            <remap from="camera" to="right" />
        </node>

        <!-- emit synchronization error -->
        <node name="image_desync"
              machine="$(arg machine)"
              pkg="samplereturn"
              type="image_desync.py"
              ns="/cameras/navigation/$(arg namespace)">
            <param name="manager_node_name" type="string" value="/cameras/navigation/$(arg namespace)/$(arg camera_manager_node_name)"/>
            <param name="check_interval" type="double" value="0.05"/>
            <param name="max_desync" type="double" value="0.033"/>
            <param name="max_missing_count" type="int" value="30"/>
            <param name="startup_delay" type="int" value="30"/>
        </node>
    </group>

</launch>
