<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <arg name="odometry_frame" default="odom"/>
    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_node"
        name="local_costmap"
        ns="/processes/planner/dumb"
        >

        <param name="costmap/global_frame" type="string" value="$(arg odometry_frame)"/>
        <rosparam file="$(find samplereturn)/config/costmap_dumb_params.yaml" ns="costmap" command="load"/>

    </node>

    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_cloud"
        name="voxel_visualizer_cloud"
        ns="/processes/planner/dumb/local_costmap/costmap/port_obstacle_layer">
    </node>
    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_cloud"
        name="voxel_visualizer_cloud"
        ns="/processes/planner/dumb/local_costmap/costmap/center_obstacle_layer">
    </node>
    <node
        machine="navigate"
        pkg="costmap_2d"
        type="costmap_2d_cloud"
        name="voxel_visualizer_cloud"
        ns="/processes/planner/dumb/local_costmap/costmap/starboard_obstacle_layer">
    </node>


</launch>
