<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>
    <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
        <arg name="replay" default="true"/>
    </include>

    <param name="use_sim_time" value="true" type="bool"/>

  <node
      machine="navigate"
      pkg="platform_motion"
      type="EKF_odometry"
      name="odometry"
      output="log">
      <param name="wheel_diameter" type="double" value="0.314"/>
      <param name="odom_frame_id" type="string" value="/odom"/>
  </node>

  <param name="robot_description"
      command="$(find xacro)/xacro.py '$(find samplereturn)/urdf/robot.xacro'" />

  <node machine="navigate" pkg="robot_state_publisher" type="robot_state_publisher"
      name="state_publisher" output="log">
      <remap from="joint_states" to="platform_joint_state"/>
      <param name="publish_frequency" type="double" value="10"/>
  </node>

 
    <node machine="navigate" pkg="fake_localization" type="fake_localization" name="fake_localization">
        <remap from="base_pose_ground_truth" to="odometry"/>
    </node>

    <include file="$(find samplereturn)/launch/navigation_camera.launch">
        <arg name="run_cameras" default="false"/>
    </include>
    <include file="$(find samplereturn)/launch/manipulator_camera.launch">
        <arg name="run_cameras" default="false"/>
    </include>
    <include file="$(find samplereturn)/launch/audio.launch"/> 

    <include file="$(find executive)/launch/executive.launch">
        <arg name="wait_for_cameras" value="false"/>
    </include>

    <include file="$(find sample_detection)/launch/color_name_sample_detection_manipulator.launch"/>

    <include file="$(find samplereturn)/launch/search_detection.launch">
        <arg name="replay" value="true"/>
    </include>

    <include file="$(find visual_servo)/launch/visual_servo.launch"/>

    <include file="$(find samplereturn)/launch/planner.launch"/>

    <include file="$(find beacon_finder)/launch/beacon_finder.launch"/>
</launch>
