<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>

    <!--Important arg, start the system paused? -->
    <arg name="start_paused" default="True"/>
    <arg name="executive_config" default="$(find executive)/config/executive.yaml"/>

    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>

    <param name="use_sim_time" value="False" type="bool"/>

    <!-- Launch Files -->
    <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
    </include>

    <include file="$(find samplereturn)/launch/motion.launch">
        <arg name="start_paused" value="$(arg start_paused)"/>
    </include>

    <include file="$(find samplereturn)/launch/navigation_camera.launch"/>
    <include file="$(find samplereturn)/launch/search_camera.launch"/>
    <!--
    <include file="$(find samplereturn)/launch/costmap.launch"/>
    <include file="$(find samplereturn)/launch/gmapping.launch"/>
    -->
    <include file="$(find samplereturn)/launch/joystick.launch"/>
    <include file="$(find manipulator)/launch/manipulator.launch"/>
    <include file="$(find samplereturn)/launch/audio.launch"/>
    <!--
    <include file="$(find sample_detection)/launch/color_name_sample_detection_manipulator.launch"/>
    <include file="$(find samplereturn)/launch/search_detection.launch"/>
    -->
    <include file="$(find saliency_detector)/launch/filter_saliency_detector.launch"/>
    <include file="$(find linemod_detector)/launch/manipulator_linemod_2d.launch"/>
    <include file="$(find samplereturn)/launch/planner_dumb.launch"/>
    <include file="$(find motion_planning)/launch/motion_planning.launch"/>
    <!--
    -->
    <include file="$(find samplereturn)/launch/imu.launch"/>
    <include file="$(find kvh_fog)/launch/fog.launch"/>
    <include file="$(find pose_ukf)/launch/pitchroll_ukf.launch"/>

    <include file="$(find sun_pointing)/launch/sun_pointing.launch"/>

    <include file="$(find beacon_finder)/launch/april_beacon_finder.launch"/>
    <include file="$(find beacon_localizer)/launch/beacon_localizer.launch"/>
    <include file="$(find fence_detection)/launch/fence_detection.launch"/>

    <!--
    <include file="$(find solar_fisheye)/launch/molamola.launch"/>
    -->

    <!-- Launch executive last -->
    <include file="$(find executive)/launch/executive.launch">
        <arg name="executive_config" value="$(arg executive_config)"/>
    </include>

</launch>
