<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <!-- Calibration tool -->

    <arg name="camera" default="search/center"/>
    <node
        pkg="camera_calibration"
        type="cameracalibrator.py"
        name="calibrator"
        args="--size 9x6 --square 0.0237 -p chessboard --approximate=0.05"
        output="screen"
        >
        <remap from="image" to="/cameras/$(arg camera)/image_mono"/>
        <remap from="camera" to="/cameras/$(arg camera)/basler_camera"/>
      </node>

</launch>
