<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="user" default="robot"/>
    <arg name="path" default="Desktop"/>
    <arg name="kind" default="install"/>

    <include file="$(find samplereturn)/launch/machine_definitions.launch">
        <arg name="user" value="$(arg user)"/>
        <arg name="path" value="$(arg path)"/>
        <arg name="kind" value="$(arg kind)"/>
    </include>

    <include file="$(find samplereturn)/launch/manipulator_camera.launch"/> 

    <arg name="run_cameras" value="true"/>
    <arg name="run_processing" value="true"/>
    <include file="$(find samplereturn)/launch/navigation_pair_gpu.launch">
        <arg name="run_cameras" value="$(arg run_cameras)"/>
        <arg name="run_processing" value="$(arg run_processing)"/>
        <arg name="namespace" value="starboard"/>
        <arg name="left_guid" value="00b09d0100ca7fd5"/>
        <arg name="right_guid" value="00b09d0100ca7fdb"/>
        <arg name="strobe" value="true"/>
        <arg name="machine" value="navigate"/>
    </include>

</launch>
