<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="gui" default="true" />

    <param name="use_gui" value="$(arg gui)"/>

    <param
        name="robot_description"
        command="$(find xacro)/xacro.py '$(find samplereturn)/urdf/robot.xacro'"
    />


    <node
         name="joint_state_publisher"
         pkg="joint_state_publisher"
         type="joint_state_publisher"
         output="screen"
    />

    <node
         name="robot_state_publisher"
         pkg="robot_state_publisher"
         type="robot_state_publisher"
         output="screen"
    />
    <node
         name="rviz"
         pkg="rviz"
         type="rviz"
         args="-d $(find samplereturn)/rviz/ModelViz.rviz"
         output="screen"
    />
</launch>
