<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!--home beacon transforms-->
<robot name="home_beacon">   
    <link name="platform"/>
    <link name="beacon"/>
    <joint name="beacon_mount" type="fixed">
        <parent link="platform"/>
        <child link="beacon"/>
        <!-- beacon origin is center of the front face -->
        <origin xyz="-1.30 0.0 0.942" rpy="-1.5708 0 1.5708"/>
    </joint>
    
    <link name="beacon_front"/>
    <joint name="beacon_front_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_front"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <link name="beacon_front_right"/>
    <joint name="beacon_front_right_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_front_right"/>
        <origin xyz="-0.652 0.0 .100" rpy="0.0 0.3035 0.0"/>
    </joint>

    <link name="beacon_front_left"/>
    <joint name="beacon_front_left_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_front_left"/>
        <origin xyz="0.652 0.0 0.100" rpy="0.0 -0.3035 0.0"/>
    </joint>

    <link name="beacon_back"/>
    <joint name="beacon_back_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_back"/>
        <origin xyz="0.0 0.0 0.404" rpy="0.0 3.1416 0.0"/>
    </joint>
     
    <link name="beacon_back_right"/>
    <joint name="beacon_back_right_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_back_right"/>
        <origin xyz="-0.652 0.0 0.305" rpy="0.0 2.8381 0.0"/>
    </joint>

    <link name="beacon_back_left"/>
    <joint name="beacon_back_left_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_back_left"/>
        <origin xyz="0.652 0.0 0.305" rpy="0.0 -2.8381 0.0"/>
    </joint>

</robot>

