<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<!--home beacon transforms-->
<robot name="home_beacon">   
    <link name="map"/>
    <link name="beacon"/>
    <joint name="beacon_mount" type="fixed">
        <parent link="map"/>
        <child link="beacon"/>
        <!-- beacon origin is center of the front face -->
        <origin xyz="-1.30 0.0 1.243" rpy="-1.5708 0 1.5708"/>
    </joint>
    
    <link name="beacon_front_right"/>
    <joint name="beacon_front_right_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_front_right"/>
        <origin xyz="-0.366 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="beacon_front_left"/>
    <joint name="beacon_front_left_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_front_left"/>
        <origin xyz="0.366 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="beacon_right_top"/>
    <joint name="beacon_right_top_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_right_top"/>
        <origin xyz="-0.775 -0.229 0.197" rpy="0.0 1.5708 0.0"/>
    </joint>

    <link name="beacon_right_bottom"/>
    <joint name="beacon_right_bottom" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_right_bottom"/>
        <origin xyz="-0.775 0.229 0.197" rpy="0.0 1.5708 0.0"/>
    </joint>

    <link name="beacon_left_top"/>
    <joint name="beacon_left_top_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_left_top"/>
        <origin xyz="0.775 -0.229 0.197" rpy="0.0 -1.5708 0.0"/>
    </joint>
 
    <link name="beacon_left_bottom"/>
    <joint name="beacon_left_bottom_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_left_bottom"/>
        <origin xyz="0.775 0.229 0.197" rpy="0.0 -1.5708 0.0"/>
    </joint>
     
    <link name="beacon_back_left"/>
    <joint name="beacon_back_left_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_back_left"/>
        <origin xyz="0.366 0.0 0.394" rpy="0.0 3.1416 0.0"/>
    </joint>

    <link name="beacon_back_right"/>
    <joint name="beacon_back_right_x" type="fixed">
        <parent link="beacon"/>
        <child link="beacon_back_right"/>
        <origin xyz="-0.366 0.0 0.394" rpy="0.0 3.1416 0.0"/>
    </joint>

</robot>

